[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "assignment-autotest/Unity"]
	path = assignment-autotest/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "buildroot-assignments-base"]
	path = buildroot-assignments-base
	url = https://github.com/cu-ecen-aeld/buildroot-assignments-base.git
